.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: inline-block;
}

h1 {
    text-align: center;
    color: #414141;
}

#body-doraemon {
    display: inline-block;
}

#status {
    display: table;
    margin: 0 auto;
    border: 2px red solid;
    color: #0000ff;
    font: 3em sans-serif;
}

span {
    text-align: center;
    padding: 5 5 5 5;
}